<% if @todotask.errors.present? %>
  <ul>
    <% @todotask.errors.each do |error, message| %>
      <li>
        <%= "#{error.capitalize} "+ t('todotasks.validate.error') + " #{message}" %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @todotask do |t| %>
  <%= t.label :name, t('views.todotasks.title') %>
  <%= t.text_field :name, placeholder: t('todotasks.validate.placeholder') %> <br/>

  <%= t.label :content, t('views.todotasks.content') %>
  <%= t.text_area :content, placeholder: t('todotasks.validate.placeholder') %>
  <br/>

  <%= t.label :status, t('views.todotasks.status') %>
  <%= t.select :status, options_for_select([['upcoming', 'upcoming'], ['processing', 'processing'], ['solved', 'solved']]) %>
  <br/>

  <%= t.label :start_time, t('views.todotasks.starttime') %>
  <%= t.datetime_field :start_time, placeholder: t('todotasks.validate.placeholder') %>
  <br/>

  <%= t.label :end_time, t('views.todotasks.endtime') %>
  <%= t.datetime_field :end_time, placeholder: t('todotasks.validate.placeholder') %>

  <%= t.submit t('views.submit_btn') %>
<% end %>

<%= link_to t('views.home'), todotasks_path %>