<div class="wrap">
  <div class="banner_bg">
    <div class="banner">
      <div class="logo">
        <%= link_to t('views.home'), root_path %>
      </div>
      <div class="login">
        <div class="i18n">
          <div class="i18n_tw">
            <%= link_to "中文", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
          </div>
          <div class="i18n_en">
            <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
          </div>
        </div>

        <%= search_form_for @q do |f| %>
          <%= f.label :name, t('views.search_name'), class: "search_name", for: "search_name" %>
          <%= f.search_field :name_cont, class: "search_name_field", placeholder: t('views.todotasks.placeholder'), id: "search_name" %>

          <%= f.label :status, t('views.search_status'), class: "search_status" %>
          <%= f.select :status_eq, enum_status, {}, {:class => "search_status_select"} %>
          
          <%= f.submit class:"search_submit" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="todotask_list_bg">
    <div class="todotask_list_title">
      <h3 class="list_title_h3"> <%= t('views.todotasks_topic') %> </h3>
      <%= link_to t('views.new_todotask'), new_todotask_path, class:"list_title_a" %>
    </div>
  </div>

  <div class="todotask_list">
    <div class="table">
      <table>
        <thead>
          <tr>
            <td> <%= t('views.todotasks.title') %> </td>
            <td> <%= t('views.todotasks.content') %> </td>
            <td> <%= sort_link(@q, :start_time) %> 
                <%#= t('views.todotasks.start_time') %> </td>
            <td> <%= sort_link(@q, :end_time) %> 
                <%#= t('views.todotasks.end_time') %> </td>
            <td> <%= sort_link(@q, :status) %>
                <%#= t('views.todotasks.status') %> </td>
            <td> <%= sort_link(@q, :prioirty) %>
                <%#= t('views.todotasks.prioirty') %> </td>
            <td> <%= t('views.todotasks.feature') %> </td>
          </tr>
        </thead>
        <tbody>
          <% @todotask.each do |t| %>
          <tr>
            <td> <%= t.name %> </td>
            <td> <%= t.content %> </td>
            <td> <%= (t.start_time)&.strftime('%F %R') %> </td>
            <td> <%= (t.end_time)&.strftime('%F %R') %> </td>
            <td> <%= todotask_status(t.status) %> </td>
            <td> <%= todotask_prioirty(t.prioirty) %></td>
            <td>
              <%= link_to t('views.todotasks.edit'), edit_todotask_path(t), class:"feature feature_edit" %>
              <%= link_to t('views.todotasks.delete'), todotask_path(t),  class:"feature feature_delete", method: 'delete', data: {confirm: t('views.todotasks.delete_msg') } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @todotask %>
    </div>
  </div>

  <div class="footer_bg">
    <div class="footer">
      <span>Copyright &copy; 2019 Chester | Tang INc.</span>
    </div>
  </div>
</div>