<h1> <%= t('views.todotasks_topic') %> </h1>

<%= link_to t('views.new_todotask'), new_todotask_path %>

<table>
  <thead>
    <tr>
      <td> <%= t('views.todotasks.title') %> </td>
      <td> <%= t('views.todotasks.content') %> </td>
      <td> <%= t('views.todotasks.starttime') %> </td>
      <td> <%= t('views.todotasks.endtime') %> </td>
    </tr>
  </thead>
  <tbody>
    <% @todotask.each do |t| %>
    <tr>
      <td> <%= t.name %> </td>
      <td> <%= t.content %> </td>
      <td> <%= (t.start_time)&.strftime('%F %R') %> </td>
      <td> <%= (t.end_time)&.strftime('%F %R') %> </td>
      <td>
        <%= link_to t('views.todotasks.edit'), edit_todotask_path(t) %>
        <%= link_to t('views.todotasks.delete'), todotask_path(t), method: 'delete', data: {confirm: t('views.todotasks.delete_msg') } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
